<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="umbracoConfiguration">
      <section name="settings" type="Umbraco.Core.Configuration.UmbracoSettings.UmbracoSettingsSection, Umbraco.Core" requirePermission="false" />
      <section name="BaseRestExtensions" type="Umbraco.Core.Configuration.BaseRest.BaseRestSection, Umbraco.Core" requirePermission="false" />
      <section name="dashBoard" type="Umbraco.Core.Configuration.Dashboard.DashboardSection, Umbraco.Core" requirePermission="false" />
    </sectionGroup>
    <section name="logikfabrik.umbraco.jet" type="Logikfabrik.Umbraco.Jet.Configuration.JetSection, Logikfabrik.Umbraco.Jet" />
  </configSections>
  <umbracoConfiguration>
    <settings>
      <requestHandler>
        <useDomainPrefixes>false</useDomainPrefixes>
        <addTrailingSlash>true</addTrailingSlash>
      </requestHandler>
    </settings>
    <BaseRestExtensions />
    <dashBoard />
  </umbracoConfiguration>
  <logikfabrik.umbraco.jet synchronize="DocumentTypes, MediaTypes, DataTypes, MemberTypes">
    <assemblies>
      <!-- <add name="" /> -->
    </assemblies>
  </logikfabrik.umbraco.jet>
</configuration>