<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="logikfabrik.umbraco.jet" type="Logikfabrik.Umbraco.Jet.Configuration.JetSection, Logikfabrik.Umbraco.Jet" />
  </configSections>
  <logikfabrik.umbraco.jet synchronize="DocumentTypes, MediaTypes, DataTypes">
    <assemblies>
      <!-- <add name="" /> -->
    </assemblies>
  </logikfabrik.umbraco.jet>
</configuration>